<div class="tab-pane fade show active" id="employees" role="tabpanel">
    <div class="row">
        <div class="col-6">
            <h2>Sign Up</h2>
        </div>
    </div>
    <app-alert [message]="'Hello from Parent'"></app-alert>   
    <!-- Customer Form -->

        <form class="mb-4">
            <div class="row">
                <div class="col-md-4">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" id="firstName" placeholder="Enter first name">
                </div>
                <div class="col-md-4">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" id="lastName" placeholder="Enter last name">
                </div>
                <div class="col-md-4">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="user.phoneNumber" id="phoneNumber" placeholder="Phone Number">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="user.email" id="email" placeholder="Enter email">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="user.password" id="password" placeholder="Enter password">
                </div>
                <div class="col-md-4">
                    <label for="gender" class="form-label">Gender</label>
                    <select id="gender" class="form-select" name="gender" [(ngModel)]="user.gender">
                        <option selected>Select gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div> 

            <button type="button" class="btn btn-primary mt-3" (click)="onSave()">
                @if (isApiCallInProgress()) {
                    <span class="spinner-grow spinner-grow-sm"></span>
                }
                Sign Up
            </button>
            <button class="btn btn-success mt-3 mx-2" (click)="goToLogin()">Back</button>

            <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="/login"
                class="link-danger">login</a></p> -->
            
        </form>
</div>